body{
  margin: 0;
  padding: 0;
}

.w960 {
  margin: 0 auto;
  width: 960px;
}

#header {
  background: #ffebcd;
  width: 100%;
}
#mainSearch {
  clear: both;
}

#pubList{
  float: left;
  width: 50%;
  padding: 0;
}
#pubList li {
  list-style-position: inside;
}

#mainSearch input{
  font-size: 25px;
  color:gray;
  border: 1px solid #d2691e;
  height: 30px;
  width: 100%;
}


#mainMap{
  float: right;
  width: 50%;
  overflow: hidden;
}